In [2]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
%matplotlib inline
import pandas as pd
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import FeatureUnion

nullCount = 0;
validCount = 0;
meanMPI = {}
# to make this notebook's output stable across runs
np.random.seed(42)

# Import dataset
kiva_mpi_dataset = pd.read_csv("../kiva_mpi_region_locations.csv")
kiva_loan_dataset = pd.read_csv("../kiva_loans.csv")
#kiva_loan_theme_ids = pd.read_csv("../loan_theme_ids.csv")

#kiva_dataset = np.hstack((a,b))

#kiva_dataset.info()

In [7]:
# def func(region):
#     count = 0;
#     for row in kiva_mpi_dataset["region"]:
#         if row == region:
#             return count;
#         count = count+1
#     return -1;
count = 0
optimize = {}
for row in kiva_mpi_dataset["region"]:
    optimize[row] = count
    count = count+1
    
for index,row in kiva_mpi_dataset.iterrows():
    optimize[row["region"]] = row["MPI"]

In [8]:
#kiva_mpi_dataset["MPI"][func("Farah")]

In [9]:

#kiva_mpi_dataset["region"]
# for item in kiva_loan_dataset["region"]:
#     try:
#         if item in kiva_mpi_dataset["region"].unique():
#             #print(item)
#             validCount = validCount +1
#             #t = 1
#         else:
#             nullCount = nullCount + 1
#     except:
#         nullCount = nullCount+1
    
# print("Null MPI Rows: "+str(nullCount))
# print("Valid: "+str(validCount))
    #print(kiva_mpi_dataset["MPI"])
    #print("MPI: "+str(kiva_mpi_dataset["MPI"][func(item)]))

In [10]:
kiva_loan_dataset["country"].nunique()

87

In [11]:
#kiva_mpi_dataset

In [12]:

meanMPI = {}
index  =0
#kiva_mpi_dataset["region"]
for item in kiva_mpi_dataset["country"]:
    try:
        if item in meanMPI:
            t = 1
        else:
            meanMPI["country"] = kiva_mpi_dataset["MPI"][index]
    except:
          v = 1  
    index = index+1
# for key,val in meanMPI:
#     print("Country: "+key+" Val: "+val)

In [13]:
#print(len(meanMPI))

In [14]:
#print(meanMPI["Afghanistan"])

In [15]:
meanMPI = {}
prevCountry = ""
sum = 0
num = 0
for index, row in kiva_mpi_dataset.iterrows():
    if row["country"] == prevCountry:
        if row["MPI"] == row["MPI"]:
            sum = sum+row["MPI"]
            num = num+1
    else:
        if prevCountry != "":
            meanMPI[prevCountry] =  sum / num
        prevCountry = row["country"]
        if row["MPI"] == row["MPI"]:
            sum = row["MPI"]
            num = 1
        else:
            prevCountry = ""
if prevCountry != "":
    meanMPI[prevCountry] = sum /num

In [16]:
len(meanMPI)

78

In [34]:
meanMPI

{'Afghanistan': 0.3098529411764706,
 'Bangladesh': 0.20828571428571432,
 'Belize': 0.020142857142857146,
 'Benin': 0.32033333333333336,
 'Bhutan': 0.12347368421052636,
 'Bolivia, Plurinational State of': 0.09755555555555555,
 'Brazil': 0.02725925925925927,
 'Burkina Faso': 0.5476923076923077,
 'Burundi': 0.41180000000000005,
 'Cambodia': 0.1640526315789474,
 'Cameroon': 0.2028333333333333,
 'Central African Republic': 0.4535,
 'Chad': 0.5829047619047618,
 'China': 0.018333333333333333,
 'Colombia': 0.025125,
 'Comoros': 0.18300000000000002,
 'Congo, Democratic Republic of the': 0.39563636363636356,
 'Congo, Republic of': 0.26558333333333334,
 "Cote d'Ivoire": 0.34800000000000003,
 'Djibouti': 0.16949999999999998,
 'Dominican Republic': 0.0416,
 'Ecuador': 0.018250000000000002,
 'Egypt': 0.013680000000000003,
 'El Salvador': 0.03150000000000001,
 'Ethiopia': 0.49227272727272736,
 'Gabon': 0.12489999999999998,
 'Gambia': 0.34775,
 'Ghana': 0.1835,
 'Guatemala': 0.11395652173913046,
 'Guinea': 0.479875,
 'Guinea-Bissau': 0.4077777777777778,
 'Guyana': 0.037333333333333336,
 'Haiti': 0.2938,
 'Honduras': 0.08911111111111111,
 'Indonesia': 0.08415151515151516,
 'Iraq': 0.05022222222222222,
 'Jamaica': 0.007571428571428572,
 'Jordan': 0.006333333333333333,
 'Kenya': 0.20937500000000003,
 "Lao People's Democratic Republic": 0.18352941176470586,
 'Lesotho': 0.16340000000000005,
 'Liberia': 0.43386666666666673,
 'Madagascar': 0.3901818181818182,
 'Malawi': 0.23509375000000005,
 'Mali': 0.44483333333333336,
 'Mauritania': 0.2873333333333334,
 'Mongolia': 0.0512,
 'Morocco': 0.06307142857142858,
 'Mozambique': 0.34736363636363643,
 'Myanmar': 0.13433333333333333,
 'Namibia': 0.18792307692307691,
 'Nepal': 0.13680000000000003,
 'Nicaragua': 0.08358823529411766,
 'Niger': 0.543375,
 'Nigeria': 0.2588108108108108,
 'Pakistan': 0.23316666666666666,
 'Peru': 0.05308000000000001,
 'Philippines': 0.061823529411764715,
 'Rwanda': 0.2428,
 'Sao Tome and Principe': 0.1,
 'Senegal': 0.35075,
 'Sierra Leone': 0.48107142857142854,
 'South Sudan': 0.5497777777777778,
 'Sudan': 0.32338888888888895,
 'Suriname': 0.033499999999999995,
 'Swaziland': 0.07350000000000001,
 'Syrian Arab Republic': 0.014642857142857143,
 'Tajikistan': 0.0466,
 'Tanzania, United Republic of': 0.26633333333333337,
 'Timor-Leste': 0.3727692307692307,
 'Togo': 0.27233333333333337,
 'Trinidad and Tobago': 0.020800000000000003,
 'Uganda': 0.3753,
 'Uzbekistan': 0.007500000000000001,
 'Viet Nam': 0.034166666666666665,
 'Yemen': 0.22595238095238096,
 'Zambia': 0.31220000000000003,
 'Zimbabwe': 0.15139999999999998}

In [21]:
kiva_loan_dataset["MPI"] = np.nan
kiva_loan_dataset.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,...,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date,MPI
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,...,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01,NaN
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,...,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01,NaN
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,...,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01,NaN
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,...,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01,NaN
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,...,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01,NaN

In [35]:
for index, row in kiva_loan_dataset.iterrows():
    if row["region"] in kiva_mpi_dataset["region"].unique():
        #row["MPI"] = optimize[row["region"]]
        kiva_loan_dataset.set_value(index, 'MPI', optimize[row["region"]])
    elif row["country"] in meanMPI:
        #row["MPI"] = meanMPI[row["country"]]
        kiva_loan_dataset.set_value(index, 'MPI', meanMPI[row["country"]])
    else:
        row["MPI"] = np.nan

In [36]:
kiva_loan_dataset.head(1000)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,...,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date,MPI
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,...,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01,0.233167
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,...,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01,0.233167
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,...,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01,NaN
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,...,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01,0.233167
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,...,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01,0.233167
5,1080148,250.0,250.0,Services,Services,purchase leather for my business using ksh 20000.,KE,Kenya,NaN,KES,...,2014-01-01 10:06:19+00:00,2014-01-30 01:42:48+00:00,2014-01-29 14:14:57+00:00,4.0,6,NaN,female,irregular,2014-01-01,0.209375
6,653067,200.0,200.0,Dairy,Agriculture,To purchase a dairy cow and start a milk produ...,IN,India,Maynaguri,INR,...,2014-01-01 09:51:02+00:00,2013-12-16 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,8,"user_favorite, user_favorite",female,bullet,2014-01-01,NaN
7,653078,400.0,400.0,Beauty Salon,Services,to buy more hair and skin care products.,PK,Pakistan,Ellahabad,PKR,...,2014-01-01 11:46:01+00:00,2013-12-20 08:00:00+00:00,2014-01-10 18:18:44+00:00,14.0,8,"#Elderly, #Woman Owned Biz",female,monthly,2014-01-01,0.233167
8,653082,475.0,475.0,Manufacturing,Manufacturing,"to purchase leather, plastic soles and heels i...",PK,Pakistan,Lahore,PKR,...,2014-01-01 11:49:43+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:47:21+00:00,14.0,19,user_favorite,female,monthly,2014-01-01,0.233167
9,653048,625.0,625.0,Food Production/Sales,Food,"to buy a stall, gram flour, ketchup, and coal ...",PK,Pakistan,Lahore,PKR,...,2014-01-01 05:41:03+00:00,2013-12-17 08:00:00+00:00,2014-01-03 15:45:04+00:00,11.0,24,NaN,female,irregular,2014-01-01,0.233167
10,653060,200.0,200.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,...,2014-01-01 07:32:39+00:00,2013-12-24 08:00:00+00:00,2014-01-01 12:18:55+00:00,11.0,3,NaN,female,irregular,2014-01-01,0.233167
11,653088,400.0,400.0,Wholesale,Wholesale,"to purchase biscuits, sweets and juices in bulk.",PK,Pakistan,Faisalabad,PKR,...,2014-01-01 12:03:43+00:00,2013-12-16 08:00:00+00:00,2014-01-03 09:19:26+00:00,14.0,16,NaN,female,monthly,2014-01-01,0.233167
12,653089,400.0,400.0,General Store,Retail,"to buy stock of rice, sugar and flour .",PK,Pakistan,Faisalabad,PKR,...,2014-01-01 12:04:57+00:00,2013-12-24 08:00:00+00:00,2014-01-08 00:35:14+00:00,14.0,16,"#Repeat Borrower, #Woman Owned Biz",female,monthly,2014-01-01,0.233167
13,653062,400.0,400.0,Clothing Sales,Clothing,to purchase variety of winter clothes to sell.,PK,Pakistan,Lahore,PKR,...,2014-01-01 07:57:58+00:00,2013-12-24 08:00:00+00:00,2014-01-02 15:47:37+00:00,12.0,10,NaN,female,irregular,2014-01-01,0.233167
14,653075,225.0,225.0,Poultry,Agriculture,to expand her existing poultry farm business.,IN,India,Dhupguri,INR,...,2014-01-01 11:24:40+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:58:18+00:00,43.0,7,user_favorite,female,bullet,2014-01-01,NaN
15,653054,300.0,300.0,Rickshaw,Transportation,to buy a three-wheeled rickshaw.,PK,Pakistan,Lahore,PKR,...,2014-01-01 06:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-02 00:04:08+00:00,11.0,9,NaN,female,irregular,2014-01-01,0.233167
16,653091,400.0,400.0,General Store,Retail,"to buy packs of salts, biscuits and beverages.",PK,Pakistan,Faisalabad,PKR,...,2014-01-01 12:09:10+00:00,2013-12-09 08:00:00+00:00,2014-01-14 15:57:05+00:00,14.0,11,"#Woman Owned Biz, #Parent",female,monthly,2014-01-01,0.233167
17,653052,875.0,875.0,Tailoring,Services,"To buy a sewing machine, lace, zippers and but...",PK,Pakistan,Lahore,PKR,...,2014-01-01 06:25:41+00:00,2013-12-17 08:00:00+00:00,2014-01-01 18:07:34+00:00,11.0,25,NaN,"female, female, female",irregular,2014-01-01,0.233167
18,653066,250.0,250.0,Sewing,Services,to purchase a sewing machine.,IN,India,Maynaguri,INR,...,2014-01-01 09:48:35+00:00,2013-12-13 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,4,"user_favorite, user_favorite",female,bullet,2014-01-01,NaN
19,653080,475.0,475.0,Beauty Salon,Services,to buy more cosmetics products for her beauty ...,PK,Pakistan,Lahore,PKR,...,2014-01-01 11:48:08+00:00,2013-12-19 08:00:00+00:00,2014-01-10 03:22:29+00:00,14.0,18,#Woman Owned Biz,female,monthly,2014-01-01,0.233167
20,653065,250.0,250.0,Bakery,Food,to buy ingredients to make bakery products.,PK,Pakistan,Lahore,PKR,...,2014-01-01 08:26:34+00:00,2013-12-18 08:00:00+00:00,2014-01-01 15:35:59+00:00,11.0,10,NaN,female,irregular,2014-01-01,0.233167
21,653055,350.0,350.0,Restaurant,Food,"to purchase vegetables, chicken, and oil to co...",PK,Pakistan,Lahore,PKR,...,2014-01-01 07:14:40+00:00,2013-12-24 08:00:00+00:00,2014-01-01 21:54:18+00:00,12.0,13,NaN,female,irregular,2014-01-01,0.233167
22,653050,575.0,575.0,Clothing Sales,Clothing,To buy winter clothing to sell,PK,Pakistan,Lahore,PKR,...,2014-01-01 06:05:17+00:00,2013-12-17 08:00:00+00:00,2014-01-02 23:56:08+00:00,12.0,20,NaN,"female, female",irregular,2014-01-01,0.233167
23,653079,350.0,350.0,Embroidery,Arts,to buy reels of threads in different colors an...,PK,Pakistan,Lahore,PKR,...,2014-01-01 11:47:03+00:00,2013-12-13 08:00:00+00:00,2014-01-01 15:45:51+00:00,14.0,6,NaN,female,monthly,2014-01-01,0.233167
24,653061,250.0,250.0,Food Stall,Food,to purchase a variety of needed food items to ...,PK,Pakistan,Lahore,PKR,...,2014-01-01 07:46:28+00:00,2013-12-24 08:00:00+00:00,2014-01-02 01:33:55+00:00,11.0,7,NaN,female,irregular,2014-01-01,0.233167
25,653074,250.0,250.0,Farming,Agriculture,to purchase potato seeds and fertilizers for g...,IN,India,Dhupguri,INR,...,2014-01-01 11:13:09+00:00,2013-12-13 08:00:00+00:00,2014-01-01 19:01:19+00:00,43.0,9,NaN,female,bullet,2014-01-01,NaN
26,653069,250.0,250.0,Construction Supplies,Construction,to purchase stones for starting a business sup...,IN,India,Maynaguri,INR,...,2014-01-01 10:04:17+00:00,2013-12-10 08:00:00+00:00,2014-01-01 22:12:43+00:00,43.0,10,"user_favorite, user_favorite",female,bullet,2014-01-01,NaN
27,653056,475.0,475.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,...,2014-01-01 07:20:09+00:00,2013-12-24 08:00:00+00:00,2014-01-01 20:26:48+00:00,12.0,17,NaN,female,irregular,2014-01-01,0.233167
28,653071,125.0,125.0,Farming,Agriculture,to purchase potato seeds and fertilizers for g...,IN,India,Maynaguri,INR,...,2014-01-01 10:35:20+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:06:47+00:00,43.0,5,NaN,female,bullet,2014-01-01,NaN
29,653073,250.0,250.0,Farming,Agriculture,to purchase potato seeds and fertilizer for fa...,IN,India,Dhupguri,INR,...,2014-01-01 11:09:26+00:00,2013-12-19 08:00:00+00:00,2014-01-01 21:47:05+00:00,43.0,10,NaN,female,bullet,2014-01-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,654027,300.0,300.0,Milk Sales,Food,To help her husband purchase one buffalo to gr...,PK,Pakistan,Lahore,PKR,...,2014-01-06 07:01:49+00:00,2013-12-27 08:00:00+00:00,2014-01-14 04:49:57+00:00,12.0,10,"#Animals, #Biz Durable Asset, #Schooling, user...",female,irregular,2014-01-06,0.233167
971,654255,700.0,700.0,Food Production/Sales,Food,"to buy vegetables, corn, oil, chicken, tinfoil...",SV,El Salvador,NaN,USD,...,2014-01-06 14:55:31+00:00,2013-12-18 08:00:00+00:00,2014-01-29 17:23:34+00:00,17.0,27,"#Repeat Borrower, #Woman Owned Biz, user_favorite",female,monthly,2014-01-06,0.031500
972,654339,500.0,500.0,Personal Housing Expenses,Housing,"to buy galvanized sheets, wood, cement, sand a...",SV,El Salvador,NaN,USD,...,2014-01-06 18:21:00+00:00,2013-12-13 08:00:00+00:00,2014-02-19 14:16:33+00:00,14.0,20,user_favorite,female,monthly,2014-01-06,0.031500
973,654311,400.0,400.0,Crafts,Arts,to invest in the raw materials he uses for his...,GH,Ghana,Accra,USD,...,2014-01-06 17:05:04+00:00,2014-02-10 08:00:00+00:00,2014-01-06 23:50:54+00:00,9.0,16,volunteer_pick,male,bullet,2014-01-06,0.183500
974,654344,675.0,675.0,Clothing Sales,Clothing,to buy stock for her clothes store,NI,Nicaragua,Leon,NIO,...,2014-01-06 20:02:50+00:00,2013-12-06 08:00:00+00:00,2014-01-29 15:00:25+00:00,14.0,26,"#Repeat Borrower, #Woman Owned Biz, #Parent",female,monthly,2014-01-06,0.031000
975,654251,300.0,300.0,General Store,Retail,to stock her store.,SV,El Salvador,NaN,USD,...,2014-01-06 14:46:29+00:00,2013-12-29 08:00:00+00:00,2014-02-06 23:03:27+00:00,14.0,11,NaN,female,monthly,2014-01-06,0.031500
976,654126,250.0,250.0,Farming,Agriculture,To purchase good quality potato seeds and fert...,IN,India,Dhupguri,INR,...,2014-01-06 10:27:19+00:00,2013-12-31 08:00:00+00:00,2014-01-06 21:57:16+00:00,43.0,10,NaN,female,bullet,2014-01-06,NaN
977,653972,1000.0,1000.0,General Store,Retail,"To buy milk, Fanta, shampoo, noodles and rice ...",TL,Timor-Leste,Suai,USD,...,2014-01-06 03:13:51+00:00,2013-12-12 08:00:00+00:00,2014-01-06 08:53:09+00:00,5.0,33,NaN,female,irregular,2014-01-06,0.372769
978,654273,450.0,450.0,Higher education costs,Education,"to pay for educational expenses; tuition, mate...",BO,Bolivia,El Alto,BOB,...,2014-01-06 15:48:33+00:00,2013-12-07 08:00:00+00:00,2014-01-06 20:57:58+00:00,14.0,15,user_favorite,female,monthly,2014-01-06,NaN
979,654190,225.0,225.0,Farming,Agriculture,"to buy seeds to grow okra, local eggplant, pep...",SN,Senegal,Ronkh,XOF,...,2014-01-06 12:00:14+00:00,2013-12-09 08:00:00+00:00,2014-01-25 14:56:00+00:00,10.0,9,NaN,male,bullet,2014-01-06,0.350750
980,654398,600.0,600.0,General Store,Retail,"To buy a refrigerator for (Fanta, Cocacola, Sp...",TL,Timor-Leste,LiquiÃ§a,USD,...,2014-01-06 23:29:23+00:00,2013-12-16 08:00:00+00:00,2014-02-25 11:17:36+00:00,13.0,15,NaN,female,monthly,2014-01-06,0.372769
981,654248,1500.0,1500.0,Personal Housing Expenses,Housing,to make home improvments.,SV,El Salvador,NaN,USD,...,2014-01-06 14:40:28+00:00,2013-12-29 08:00:00+00:00,2014-02-18 20:11:57+00:00,38.0,47,user_favorite,female,monthly,2014-01-06,0.031500
982,654081,1900.0,1900.0,Clothing Sales,Clothing,to purchase another shop,PK,Pakistan,Rawalpindi,PKR,...,2014-01-06 09:12:27+00:00,2013-12-07 08:00:00+00:00,2014-02-03 11:50:10+00:00,14.0,64,"#Schooling, #Elderly, #Parent, user_favorite",male,monthly,2014-01-06,0.233167
983,654044,200.0,200.0,Food Production/Sales,Food,to pay for additional processed and frozen mea...,PH,Philippines,"Bacoor, Cavite",PHP,...,2014-01-06 07:49:11+00:00,2013-12-19 08:00:00+00:00,2014-01-06 18:02:23+00:00,6.0,7,NaN,female,irregular,2014-01-06,0.061824
984,654197,175.0,175.0,Agriculture,Agriculture,to buy a dairy cow and tea leaves for resale.,KE,Kenya,Kericho,KES,...,2014-01-06 12:13:51+00:00,2013-12-18 08:00:00+00:00,2014-01-06 21:33:59+00:00,8.0,7,NaN,male,monthly,2014-01-06,0.209375
985,654384,1000.0,1000.0,Food Production/Sales,Food,"to buy corn, vegetables, and fruits.",SV,El Salvador,NaN,USD,...,2014-01-06 22:37:52+00:00,2013-12-20 08:00:00+00:00,2014-01-22 17:40:48+00:00,20.0,34,"volunteer_pick, volunteer_like, #Repeat Borrow...",female,monthly,2014-01-06,0.031500
986,654376,1375.0,1375.0,Butcher Shop,Food,to buy beef in bulk quantities.,PE,Peru,PUCALLPA,PEN,...,2014-01-06 21:48:57+00:00,2013-12-23 08:00:00+00:00,2014-01-17 21:37:15+00:00,8.0,47,"volunteer_pick, volunteer_like, user_favorite,...",female,monthly,2014-01-06,0.053080
987,654106,2000.0,2000.0,Personal Housing Expenses,Housing,"to purchase construction materials, such as ce...",TJ,Tajikistan,Isfara,USD,...,2014-01-06 09:52:45+00:00,2013-12-12 08:00:00+00:00,2014-02-01 00:19:31+00:00,14.0,77,"#Parent, user_favorite, #Schooling",female,monthly,2014-01-06,0.046600
988,654140,825.0,825.0,Utilities,Services,To obtain more float to process mobile phone c...,ID,Indonesia,Bogor Barat,IDR,...,2014-01-06 10:55:12+00:00,2014-01-06 08:00:00+00:00,2014-01-11 23:24:14+00:00,8.0,26,"#Low-profit FP, #Woman Owned Biz, #Repeat Borr...",female,bullet,2014-01-06,0.084152
989,654278,3425.0,3425.0,Food Production/Sales,Food,"to buy, transport, process and resell peanuts.",SN,Senegal,NaN,XOF,...,2014-01-06 15:59:16+00:00,2013-12-13 08:00:00+00:00,2014-01-19 19:30:15+00:00,8.0,83,"#Vegan, #Woman Owned Biz, #Schooling","female, female, female, female, female, female...",monthly,2014-01-06,0.350750
990,654378,750.0,750.0,Clothing Sales,Clothing,"purchase pants, blouses, T-shirts and children...",EC,Ecuador,Manta,USD,...,2014-01-06 21:58:36+00:00,2013-12-12 08:00:00+00:00,2014-01-08 23:25:40+00:00,6.0,19,volunteer_pick,female,irregular,2014-01-06,0.018250
991,654207,1400.0,1400.0,Food Market,Food,to purchase more onions and carton tomatoes to...,SL,Sierra Leone,Wara Wara town,SLL,...,2014-01-06 12:33:47+00:00,2013-12-09 08:00:00+00:00,2014-01-14 19:57:17+00:00,14.0,37,"#Parent, #Woman Owned Biz, #Vegan",female,monthly,2014-01-06,0.481071
992,654009,275.0,275.0,Manufacturing,Manufacturing,"to purchase supplies in bulk (fabric, cotton, ...",CO,Colombia,Marinilla,COP,...,2014-01-06 05:18:09+00:00,2013-12-06 08:00:00+00:00,2014-01-06 14:15:09+00:00,14.0,6,NaN,male,monthly,2014-01-06,0.025125
993,654097,1275.0,1275.0,Animal Sales,Agriculture,To buy cattle for resale,TJ,Tajikistan,Zafarabad,TJS,...,2014-01-06 09:35:06+00:00,2013-12-11 08:00:00+00:00,2014-01-28 14:31:55+00:00,20.0,46,"#Repeat Borrower, #Animals, user_favorite",female,monthly,2014-01-06,0.046600
994,654159,275.0,275.0,Farming,Agriculture,"to purchase a mobile phone, solar charging set...",UG,Uganda,Kasese,UGX,...,2014-01-06 11:18:49+00:00,2014-01-20 08:00:00+00:00,2014-01-09 10:17:33+00:00,35.0,9,"#Low-profit FP, #Post-disbursed, #Parent",male,monthly,2014-01-06,0.375300
995,654103,1400.0,1400.0,Retail,Retail,"to buy more soft drinks, alcohol and cigarette...",SL,Sierra Leone,Masuba town,SLL,...,2014-01-06 09:44:01+00:00,2013-12-09 08:00:00+00:00,2014-02-01 20:54:44+00:00,14.0,42,"#Parent, user_favorite",female,monthly,2014-01-06,0.481071
996,654053,600.0,600.0,Animal Sales,Agriculture,to purchase more cows for resale.,KE,Kenya,Tiribe,KES,...,2014-01-06 08:23:35+00:00,2013-12-19 08:00:00+00:00,2014-01-21 19:22:36+00:00,14.0,21,"#Animals, #Repeat Borrower, user_favorite",male,irregular,2014-01-06,0.209375
997,654134,1500.0,1500.0,Farming,Agriculture,o buy a cow for maintenance at the rice fields...,KH,Cambodia,Kampong Cham,USD,...,2014-01-06 10:46:38+00:00,2013-12-06 08:00:00+00:00,2014-01-06 22:45:25+00:00,26.0,57,NaN,female,monthly,2014-01-06,0.160000
998,653987,300.0,300.0,Fruits & Vegetables,Food,to buy more bananas to sell,PH,Philippines,"Brookes Point, Palawan",PHP,...,2014-01-06 03:51:08+00:00,2013-12-10 08:00:00+00:00,2014-01-06 18:28:37+00:00,8.0,12,"user_favorite, user_favorite",female,irregular,2014-01-06,0.061824
999,654322,475.0,475.0,Food Market,Food,"to purchase more cooking seasonings, and other...",SL,Sierra Leone,Magburaka,SLL,...,2014-01-06 17:22:37+00:00,2013-12-09 08:00:00+00:00,2014-01-15 04:38:30+00:00,14.0,19,"#Parent, #Woman Owned Biz",female,irregular,2014-01-06,0.481071

In [37]:
kiva_loan_dataset["MPI"].describe()

count    558226.000000
mean          0.136250
std           0.117514
min           0.000000
25%           0.061824
50%           0.061824
75%           0.209375
max           0.744000
Name: MPI, dtype: float64

In [38]:
kiva_loan_dataset.isnull().sum()

id                         0
funded_amount              0
loan_amount                0
activity                   0
sector                     0
use                     4228
country_code               8
country                    0
region                 56800
currency                   0
partner_id             13507
posted_time                0
disbursed_time          2396
funded_time            48331
term_in_months             0
lender_count               0
tags                  171416
borrower_genders        4221
repayment_interval         0
date                       0
MPI                   112979
dtype: int64